.bio{
    column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;
    background-color: lightblue;
    border: solid;
}
.profile{
    border:solid;
    background-color: lightblue;
}
